# Dependencies
/node_modules
/.pnpm
/.yarn

# Next.js build output
/.next/
/out/

# Production build
/build

# Environment files, Example files, and Secrets (CRITICAL: User requested no .env or .env.example)
.env
.env*
.env.example
*.env
*.pem
*.key

# SQLite Database local files
*.db
*.db-journal
/prisma/*.db
/prisma/*.db-journal

# IDE & OS files
.DS_Store
*.pem
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.vercel
.netlify
tsconfig.tsbuildinfo
scratch/
